
Test/Temp/FSTimeGet-3f50f72c2b0dc4040bc60b4de23de4aa
Test/Temp/FSTimeGet-ca7e54e5c88230a488f1d3eef903776c
Test/Temp/FSTimeGet-cc0edcc5b70cfaa49b3ac9d4b8c1223e
Test/Temp/UnityLockfile
Portfolio/.vsconfig
Portfolio/Assets/_ExternalAssets.meta
